---
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: CurrentLine
AlignAfterOpenBracket: BlockIndent
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
